.btn {
  border: none;
  padding: 1rem 3rem;
  margin: 1rem 0;
  margin-right: 1rem;
  border-radius: var(--border-rounded);
  cursor: pointer;
  color: var(--color-white);
  font-size: 1rem;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--red {
    background-color: var(--color-red-500);
  }
  &--green {
    background-color: var(--color-green-500);
  }
  &--blue {
    background-color: var(--color-blue-500);
  }
  &--purple {
    background-color: var(--color-purple-500);
  }
  &--white {
    border: 1px solid var(--color-purple-500);
    color: var(--color-purple-500);
  }
  &--transparent {
    background-color: var(--color-blue-250);
    color: var(--color-red-500);
  }
  &--floating {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: var(--color-orange-500);
    border-radius: var(--border-circle);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    box-shadow: 0 0.125rem 0.75rem 0 var(--color-gray-500);

    @media (min-width: $media-sm) {
      bottom: 4rem;
      right: 4rem;
    }

    &:hover {
      transform: scale(1.1);
    }

    svg {
      display: block;
      width: 2rem;
    }
  }
}
