.progress-container {
  height: 2rem;
  background-color: #e0e0de;
  margin: 2rem;
  border-radius: 1rem;
  .progress-bar {
    height: 100%;
    border-radius: 1rem;
    text-align: right;
    color: white;
    padding: 0.3rem 1rem;
    background-image: var(--color-purplegradient);
  }
  &__finished {
    animation: progress-finish 0.75s ease-in-out;
    box-shadow: 0 0 1.5rem 0.1rem var(--color-purple-500);
  }

  &--btn {
    display: flex;
    justify-content: space-around;
  }
}
