.progress-container {
  height: 2rem;
  background-color: #e0e0de;
  margin: 2rem;
  border-radius: 1rem;
  .progress-bar {
    height: 100%;
    border-radius: 1rem;
    text-align: right;
    color: white;
    padding: 0.3rem 1rem;
    background-image: var(--color-purplegradient);
  }
  &__finished {
    background-color: red;
  }

  &--btn {
    display: flex;
    justify-content: space-around;
  }
}
