.sidebar {
  background-color: var(--color-white);
  position: fixed;
  top: 6rem;
  left: -20rem;
  height: calc(100vh - 7rem);
  width: 20rem;
  transition: all 250ms ease;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  color: var(--color-blue-500);
  &--isActive {
    left: 0;
  }
  &__title {
    font-size: 2rem;
    padding: 1rem 0;
  }
  &__link {
    text-decoration: none;
    color: var(--color-blue-500);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: var(--color-blue-500);
      border-radius: 2rem;
      color: white;
    }
  }
}
