@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lobster", cursive;
}

:root {
  //colors
  --color-white: #fff;
  --color-black: #333;
  --color-grey: #2c2b2b;
  --color-red-500: #c0392b;
  --color-green-500: #27ae60;
  --color-blue-250: #bcd3e2;
  --color-blue-500: #2980b9;
  --color-purplegradient: linear-gradient(
    to right,
    #800080,
    #743da5,
    #5f5fc4,
    #407cdb,
    #1297eb
  );
  --color-purple-500: #5f5fc4;
  --color-overlay: rgba(97, 97, 97, 0.788);

  //border
  --border-rounded: 0.5rem;
}

//responsive breakpoints
$media-sm: 37.5em;
$media-md: 53em;
$media-lg: 64em;

//imports

//components
@import "./components/btn.scss";
@import "./components/modal.scss";
@import "./components/divider.scss";
@import "./components/header.scss";
@import "./components/container.scss";
@import "./components/input.scss";
@import "./components/layout.scss";
@import "./components/sidebar.scss";
@import "./components/textarea.scss";
@import "./components/progressbar.scss";
@import "./components/loader.scss";
@import "./components/select.scss";
@import "./components/card.scss";
@import "./components/paginations.scss";

//features
@import "./features/contact.scss";
@import "./features/home.scss";
@import "./features/progressbarpage.scss";
@import "./features/animals.scss";

//utils
@import "./utils/grid.scss";
