@import url("https://fonts.googleapis.com/css2?family=Bilbo&display=swap");

body {
  font-family: "Bilbo", cursive;
  background-image: url("https://irs.www.warnerbros.com/hero-banner-v2-tablet-jpeg/movies/media/browser/the_lord_of_the_rings_the_fellowship_of_the_ring_banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.quote-container {
  background-color: beige;

  background-size: cover;
  color: #664731;
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
  width: 50vw;
}
